<!DOCTYPE html>
<html>
  <head>
    <title>Easy example | CartoDB.js</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  </head>
  <body>
    <div id="map"></div>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

    <script>
        var zipregionLayer;
        // create custom icon
        var homeIcon = L.icon({
            iconUrl: '/static/img/home.png',
            iconSize: [35, 35], // size of the icon
            });
      $(document).ready(function (){
          cartodb.createVis('map', 'https://lindaliu.carto.com/api/v2/viz/97ddecc4-2b92-11e7-ba70-0ef24382571b/viz.json',
            {     zoom:12,
                  center_lat:37.784845,
                  center_lon:-122.388943
            })
            .done(function(vis,layers){
                  map = vis.getNativeMap()
                  L.marker([37.784845,-122.388943], {icon: homeIcon}).addTo(map);
                  zipregionLayer = layers[1].getSubLayer(0);
                  zipregionLayer.setSQL("SELECT * FROM zipregions WHERE zcta5ce10 in ('94102', '94103', '94104', '94105', '94107','94108', '94109', '94110', '94111', '94112', '94114', '94115','94116', '94117', '94118', '94121', '94122', '94123', '94124',  '94127', '94129', '94130', '94131', '94132', '94133', '94134', '94158')");
            });
  });
    </script>
  </body>
</html>