<!DOCTYPE html>
<html>
  <head>
    <title>Easy example | CartoDB.js</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  </head>
  <body>
    <div id="map"></div>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

    <script>
        var zipcode = parent.document.getElementById("zipcode");
        var zipregionLayer;
        // create custom icon
        var homeIcon = L.icon({
            iconUrl: '/static/img/home.png',
            iconSize: [35, 35], // size of the icon
            });
        var lonlatinfo = {94102:[37.779875, -122.414160],94103:[37.772887, -122.411864],
                         94104:[37.792406, -122.403126], 94105:[37.789213, -122.392991],
                         94107:[37.757542, -122.394364], 94108:[37.792198, -122.408459],
                         94109:[37.793000, -122.421381], 94110:[37.750934, -122.413861],
                         94111:[37.797155, -122.398326], 94112:[37.718899, -122.442209],
                         94114:[37.758091, -122.433596], 94115:[37.786821, -122.436553],
                         94116:[37.744599, -122.485006], 94117:[37.770360, -122.444035],
                         94118:[37.780544, -122.460228], 94121:[37.777415, -122.491446],
                         94122:[37.759244, -122.485090], 94123:[37.798680, -122.438183],
                         94124:[37.743550, -122.389547], 94127:[37.736503, -122.458273],
                         94129:[37.797272, -122.464353], 94131:[37.745529, -122.442887],
                         94132:[37.723798, -122.476470], 94133:[37.802107, -122.410650],
                         94134:[37.723143, -122.407300], 94158:[37.769870, -122.390412]}
      $(document).ready(function (){
          cartodb.createVis('map', 'https://lindaliu.carto.com/api/v2/viz/97ddecc4-2b92-11e7-ba70-0ef24382571b/viz.json',
            {     zoom:12,
                  center_lat:37.784845,
                  center_lon:-122.388943
            })
            .done(function(vis,layers){
                  alert(parseInt(zipcode.innerHTML))
                  map = vis.getNativeMap()
                  L.marker(lonlatinfo[parseInt(zipcode.innerHTML)], {icon: homeIcon}).addTo(map);
                  zipregionLayer = layers[1].getSubLayer(0);
                  zipregionLayer.setSQL("SELECT * FROM zipregions WHERE zcta5ce10 in ('94102', '94103', '94104', '94105','94107','94108', '94109', '94110', '94111', '94112','94114', '94115','94116', '94117', '94118', '94121','94122', '94123', '94124',  '94127', '94129', '94130','94131', '94132', '94133', '94134', '94158')");
            });
  });
    </script>
  </body>
</html>