<div class="container">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  <div class="document">
    
    <h1>Welcome to SFpal!</h1>
    
    
    <hr class="brace">
    
    <div class="document__content">


      
      <p>We are the best data analytics service that helps you locate your next best community in the <b>city of San Francisco</b></p>

      <p><b>When you are ready to move, we are ready to help.</b> </p>
      
      
    </div>
    
  </div>
  
</div>