<div class="container">
  <div class="document">
    
    <h1>Welcome to SFpal!</h1>
    
    
    <hr class="brace">
    
    <div class="document__content">


      
      <p>We are the best data analytics service that helps you locate your next best community in the <b>city of San Francisco</b></p>

      <p><b>When you are ready to move, we are ready to help.</b> </p>

        <div class="container"><br>
          <form role="form" method="post">
            <input type="checkbox" name="check" value="sanitation">sanitation<br>
            <input type="checkbox" name="check" value="peace_quiet">peace_quiet<br>
            <input type="checkbox" name="check" value="appearance">appearance<br>
              <input type="checkbox" name="check" value="children_friendly">children_friendly<br>
              <input type="checkbox" name="check" value="greenery">greenery<br>
              <input type="checkbox" name="check" value="walking_cxcondition">walking_cxcondition<br>
              <input type="checkbox" name="check" value="coffee">coffee<br>
              <input type="checkbox" name="check" value="nightlife">nightlife<br>
              <input type="checkbox" name="check" value="dog_friendly">dog_friendly<br>
              <input type="checkbox" name="check" value="construction">construction<br>
              <input type="checkbox" name="check" value="parks">parks<br>
              <input type="checkbox" name="check" value="schools">schools<br>
            <input type="checkbox" name="check" value="bart_stations">bart_stations<br>
            <input type="checkbox" name="check" value="safety">safety<br>
            <input type="checkbox" name="check" value="restaurants">restaurants<br>
            <button type="submit" name="submit" value="submit">Submit</button>
          </form>
        </div>
    </div>
    
  </div>
  
</div>